<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.unclephill.meuddd">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/str_app_admob_id" />

        <activity
            android:name="br.com.unclephill.meuddd.Views.Activitys.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="br.com.unclephill.meuddd.Views.Activitys.LoginActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="br.com.unclephill.meuddd.Views.Activitys.ForgotPasswordActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="br.com.unclephill.meuddd.Views.Activitys.UserActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="br.com.unclephill.meuddd.Views.Activitys.MenuActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>